<ul>
  <li>
    <%= @insect.name %>, <%= @insect.characteristic %>
  </li>
</ul>

<%= link_to 'Edit insect', edit_insect_path(@insect) %>
<%= link_to 'Delete insect', insect_path(@insect), method: :delete %>